* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  background: url("../assets/fond.jpg") center center/cover no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 2px solid black;
  border-radius: 50px;
  transition: all 0.3s ease-out;
}


.main-btns {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: transparent;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: black;
  text-decoration: none;
  font-family: cursive ;
}

p {
  font-family: cursive;
}

#regle{
  font-family: cursive;
  font-size: 1.5rem;

  color: black;
  text-align: center;
  margin-top: 20px;
  position: relative;
  top: 200px;
}

#gagner , #perdu{
  font-family: cursive;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-top: 20px;
  position: relative;
  top: 200px;
}
#txt  {
  font-family: cursive;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-top: 20px;
  position: relative;
  top: 360px;
}


.fa-gamepad {
  position: center;
  
}

.titre {
  position: absolute;
  left: 5%;
  font-family: cursive;
  font-size: 2rem;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
  font-weight: 500;
  color: black;
  text-decoration: none;
  font-family: cursive ;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: 250ms;
}

.nav__links li a:hover {
  color: black;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  font-family: cursive ;
}

.cta {
  padding: 5px 25px;
  text-align: center;
  background-color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: white;
}



.cta:hover {
  background-color: transparent;
  color: black;
  border-color: black;
  border: 1px solid black;
  transition: 250ms;
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: white;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.main-container h1{
  font-size: 3rem;
  margin-bottom: 20px;
}

.main-container p{
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 20px;
}

.main-container button{
  padding: 10px 11px;

  margin-right: 40px;
  background-color: transparent;
  
}

.main-container button:hover{
  background: black;
  color: white;
  border-radius: 50px;
  padding: 8px 15px;
  transition: 250ms;
}

.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: grey;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  
}

.left-col{
  flex: 1;
  display: flex;
  justify-content: column;
  align-items: center;

}

.logo{

  margin-right: 10px;
}

.rights-text{
  padding-left: 30px;
}

.right-col{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}




.social-media{
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media i{
  font-size: 1.5rem;
  margin: 0 15px;
  margin-bottom: 10px;
  color: white;
}

.fa-youtube:hover{
  color: red;
}

.fa-facebook-f:hover{
  color: rgb(51, 51, 253);
}

.fa-instagram:hover{
  color: rgb(202, 54, 182);
}

.fa-twitter:hover{
  color: rgb(18, 166, 224);
}

.fa-linkedin-in:hover{
  color: rgb(0, 119, 181);
}


.news{
  padding-right: 40px;
  font-size: 1.5rem;
}

.container {
  max-height: calc(100vh - 250px);
  overflow-y: auto;
}

#leaderboard {
  counter-reset: ligne;
  font-size: 20px;
  border-collapse: collapse;
  margin: 0 auto;
}

#leaderboard td:first-child:before {
  content: counter(ligne);
  counter-increment: ligne;
  min-width: 25px;
  text-align: center;
  margin-right: 10px;
}

th,
td {
  padding: 10px;
  border: 1px solid black;
}

th {
  background-color: #ccc;
}

#montrerplus {
  width: 100px;
  height: 50px;
  background-color: #ddd;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: auto; 
  margin-right: auto;
}

#montrerplus:hover {
  background-color: #bbb;
}

.container.scroll-bottom {
  scroll-behavior: smooth;
}


@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}